<style type="text/css">
<!--
span.slash {
	margin-left: 2px;
	margin-right: 2px;
}
.masswerk,a.masswerk,a.masswerk:link,a.masswerk:visited {
	font-family: arial,helvetice,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #8FA516;
	text-decoration: none;
}
a.masswerk:hover {
	text-decoration: underline;
}
a.masswerk:active {
	text-decoration: underline; color: #F7E000;
}
.display {
	font-family: courier,fixed,sans-serif;
	font-size: 15px;
	color: white;
}
.display2 {
	font-family: courier,fixed,sans-serif;
	font-size: 12px;
	color: white;
}
.regset,a.regset,a.regset:link,a.regset:visited {
	font-family: courier,fixed,sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #77dd11;
}
a.regset:hover {
	text-decoration: underline;
}
a.regset:active {
	text-decoration: underline;
	color #bb0000;
}
a.display2,a.display2:link,a.display2:visited,a.display2:hover {
	font-family: courier,fixed,sans-serif;
	font-size: 12px;
	color: white;
	text-decoration: none;
}
a.display2:active {
	color #bb0000;
}
h1 {
	font-family: arial,helvetica,sans-serif;
	font-size: 32px;
	color: white;
	font-weight: normal;
	letter-spacing: 2px;
}
h1 small {
	font-size: 24px;
	letter-spacing: 2px;
}
h3 {
	font-family: arial,helvetica,sans-serif;
	font-size: 20px;
	color: white;
	font-weight: normal;
	letter-spacing: 1px;
}
.text18 {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: white;
}
.text {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: white;
}
.isButton {
	font-family: courier,fixed,sans-serif;
	font-size: 12px;
	color: black;
}
.formField {
	font-family: courier,fixed,sans-serif;
	font-size: 12px;
	color: #dddddd;
	background: #333333;
}
displayLr {
	font-family: courier,fixed,sans-serif;
	font-size: 15px;
	color: white;
	position: relative;
}
-->
</style>